

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}



.links {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn {
    background-color: blue;
}

.btn:hover {
    background-color: #0056b3;
}